// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Kievit Slab";
  src: font-url('KievitSlab.eot?#iefix') format('embedded-opentype'),
       font-url('KievitSlab.woff') format('woff'),
}
$kievit-slab: "Kievit Slab";

@font-face {
  font-family: "Kievit";
  src: font-url('Kievit.woff') format('woff'),
}
$kievit: "Kievit";


// Define fonts for body and headers
$body-font: $kievit, "Helvetica", "sans-serif";
$headers-font: $kievit-slab, "Helvetica", "sans-serif";

